#Ignore Finder metadata files
.DS_Store
._*

#No build directories thanks
build

#Ignore user-specific stuff in .xcodeproj bundles
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
xcuserdata
project.xcworkspace

#Ignore standalone assets that are meant to be provided downstream
Standalone/Resources/StandaloneLogo.png
Standalone/Resources/StandaloneLogo@2x.png
Standalone/Resources/English.lproj/Credits.html
Standalone/Resources/Help.help