<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BXSpecificGameProfiles</key>
	<array>
		<dict>
			<key>BXProfileName</key>
			<string>Another World</string>
			<key>BXProfileConf</key>
			<string>Another World</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>tabvol.bin</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileName</key>
			<string>Wing Commander Privateer</string>
			<key>BXProfileConf</key>
			<string>Privateer</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>privater.exe</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileName</key>
			<string>Privateer 2</string>
			<key>BXProfileConf</key>
			<string>Privateer 2</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>pad.iff</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileName</key>
			<string>Fable</string>
			<key>BXProfileConf</key>
			<string>No GUS</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>fable.*</string>
			</array>
			<key>BXMountHelperDrivesDuringImport</key>
			<false/>
		</dict>
		
		<dict>
			<key>BXProfileName</key>
			<string>Jetfighter</string>
			<key>BXProfileConf</key>
			<string>Jetfighter</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>jf.exe</string>
				<string>jetfight.exe</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileName</key>
			<string>Bedlam</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>bedlam.exe</string>
			</array>
			<key>BXDesignatedInstallers</key>
			<array>
				<string>setup.exe</string>
			</array>
		</dict>

		<dict>
			<key>BXProfileName</key>
			<string>Command &amp; Conquer - Red Alert</string>
			<key>BXProfileConf</key>
			<string>More memory, no GUS</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>redalert.mix</string>
			</array>
			<key>BXDesignatedInstallers</key>
			<array>
				<string>setup.exe</string>
			</array>
		</dict>

		<dict>
			<key>BXProfileName</key>
			<string>Pro Pinball- The Web</string>
			<key>BXProfileConf</key>
			<string>Pro Pinball- The Web</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>web.exe</string>
			</array>
		</dict>

		<dict>
			<key>BXProfileName</key>
			<string>Pro Pinball- Timeshock</string>
			<key>BXProfileConf</key>
			<string>Pro Pinball- Timeshock</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>shock8.exe</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileName</key>
			<string>System Shock</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>sshock.exe</string>
				<string>cdshock.exe</string>
			</array>
			<key>BXDesignatedInstallers</key>
			<array>
				<string>/inst/initial.exe</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileName</key>
			<string>Ultima Underworld</string>
			<key>BXProfileConf</key>
			<string>Dynamic</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>uw.exe</string>
				<string>uwdemo.exe</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileName</key>
			<string>Ultima Underworld II</string>
			<key>BXProfileConf</key>
			<string>Dynamic</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>uw2.exe</string>
			</array>
		</dict>

		<dict>
			<key>BXProfileName</key>
			<string>Destruction Derby 2</string>
			<key>BXProfileConf</key>
			<string>Destruction Derby 2</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>dd2.fil</string>
			</array>
		</dict>

		<dict>
			<key>BXProfileName</key>
			<string>I Have No Mouth and I Must Scream</string>
			<key>BXProfileConf</key>
			<string>I Have No Mouth</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>scream.prf</string>
			</array>
		</dict>

		<dict>
			<key>BXProfileName</key>
			<string>Daggerfall</string>
			<key>BXProfileConf</key>
			<string>More memory, no GUS</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>dagger.exe</string>
			</array>
			<key>BXDesignatedInstallers</key>
			<array>
				<string>install.exe</string>
			</array>
			<key>BXProfileDriveLabels</key>
			<dict>
				<key>BXProfileDriveLabelAny</key>
				<string>Daggerfall</string>
			</dict>
			<key>BXInstallMedium</key>
			<integer>2</integer><!-- CD-ROM -->
		</dict>
		
		<dict>
			<key>BXProfileName</key>
			<string>King&apos;s Quest VII</string>
			<key>BXProfileConf</key>
			<string>KQ7</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>kq7.bat</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileName</key>
			<string>Screamer 2</string>
			<key>BXProfileConf</key>
			<string>Screamer 2</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>cars101.dat</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileName</key>
			<string>Need for Speed</string>
			<key>BXProfileConf</key>
			<string>Need for Speed</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>nfs.exe</string>
				<string>nfs_dos.exe</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileName</key>
			<string>The 7th Guest</string>
			<key>BXProfileConf</key>
			<string>The 7th Guest</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>t7g.bat</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileName</key>
			<string>Ultima VII</string>
			<key>BXProfileConf</key>
			<string>Ultima VII</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>ultima7.com</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileName</key>
			<string>Ultima VII Part 2: The Serpent Isle</string>
			<key>BXProfileConf</key>
			<string>Ultima VII</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>serpent.com</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileName</key>
			<string>Wing Commander II</string>
			<key>BXProfileConf</key>
			<string>Wing Commander</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>wc2.*</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileName</key>
			<string>Wing Commander</string>
			<key>BXProfileConf</key>
			<string>Wing Commander</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>wingcmdr.cfg</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileName</key>
			<string>Wings of Glory</string>
			<key>BXProfileConf</key>
			<string>Wings of Glory</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>wogdata3.tre</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileName</key>
			<string>Aces of the Pacific</string>
			<key>BXProfileConf</key>
			<string>No dynamic</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>aces.com</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileName</key>
			<string>Aces Over Europe</string>
			<key>BXProfileConf</key>
			<string>Aces Over Europe</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>aoe.com</string>
			</array>
		</dict>
	</array>

	<key>BXGenericProfiles</key>
	<array>
		<dict>
			<key>BXProfileDescription</key>
			<string>Games that require clock-based joystick timing.</string>
			<key>BXProfileConf</key>
			<string>Timed joystick</string>
			<key>BXProfileMatches</key>
			<array>
				<string>Flight Unlimited</string>
				<string>Elite/Elite Plus</string>
				<string>Mechwarrior 2</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>genpile</string>
				<string>elite.exe</string>
				<string>mw2.exe</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileDescription</key>
			<string>Games that rely on being installed from floppy disk.</string>
			<key>BXProfileMatches</key>
			<array>
				<string>Stunts</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>adskidms.vce</string>
			</array>
			<key>BXInstallMedium</key>
			<integer>1</integer><!-- Floppy -->
		</dict>
		
		<dict>
			<key>BXProfileDescription</key>
			<string>Games that are incompatible with non-US keyboard layouts.</string>
			<key>BXProfileConf</key>
			<string>US keyboard</string>
			<key>BXProfileMatches</key>
			<array>
				<string>F-19 Stealth Fighter</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>f19.com</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileDescription</key>
			<string>Early VGA games that are incompatible with SuperVGA.</string>
			<key>BXProfileConf</key>
			<string>VGA-only</string>
			<key>BXProfileMatches</key>
			<array>
				<string>Lemmings</string>
				<string>Oh No! More Lemmings</string>
				<string>X-Mas Lemmings</string>
				<string>Holiday Lemmings</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>vgalemmi.exe</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileDescription</key>
			<string>Sierra AGI games that support Tandy graphics and sound.</string>
			<key>BXProfileConf</key>
			<string>Sierra AGI</string>
			<key>BXProfileMatches</key>
			<array>
				<string>King&apos;s Quest</string>
				<string>King&apos;s Quest II</string>
				<string>King&apos;s Quest III</string>
				<string>Space Quest</string>
				<string>Space Quest II</string>
				<string>Police Quest</string>
				<string>Gold Rush</string>
				<string>Manhunter: New York</string>
				<string>Manhunter: San Francisco</string>
				<string>Leisure Suit Larry</string>
				<string>The Black Cauldron</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>jr_graf.ovl</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileDescription</key>
			<string>Old games that need low conventional memory.</string>
			<key>BXProfileConf</key>
			<string>Low memory</string>
			<key>BXProfileMatches</key>
			<array>
				<string>Blood Money</string>
				<string>California Games</string>
				<string>Might and Magic 2</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>blood.prg</string>
				<string>calgames.exe</string>
				<string>mm2.exe</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileDescription</key>
			<string>Later games that like a lot of memory.</string>
			<key>BXProfileConf</key>
			<string>More memory</string>
			<key>BXProfileMatches</key>
			<array>
				<string>The Elder Scrolls: Battlespire</string>
				<string>Descent 2</string>
				<string>Blood</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>spire.bat</string>
				<string>descent2.exe</string>
				<string>blood.exe</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileDescription</key>
			<string>Games that dislike expanded memory (but are not fussy about anything else.)</string>
			<key>BXProfileConf</key>
			<string>No EMS</string>
			<key>BXProfileMatches</key>
			<array>
				<string>Wrath of Earth</string>
				<string>Barney Bear Goes to Space</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>woe.exe</string>
				<string>bbspc.exe</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileDescription</key>
			<string>Old games that need a 286-speed CPU for correct timing.</string>
			<key>BXProfileConf</key>
			<string>AT speed</string>
			<key>BXProfileMatches</key>
			<array>
				<string>Ultima IV</string>
				<string>Ultima V</string>
				<string>Ultima VI</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>ultima.*</string>
				<string>ultima6.exe</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileDescription</key>
			<string>Old games that require CGA video emulation as well as an XT-speed CPU.</string>
			<key>BXProfileConf</key>
			<string>XT speed, CGA</string>
			<key>BXProfileGameEra</key>
			<integer>1</integer><!--BX525DisketteEra-->
			<key>BXProfileMatches</key>
			<array>
				<string>Attack on Altair</string>
				<string>Castle Adventure</string>
				<string>Below the Root</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>altair.com</string>
				<string>castle.ran</string>
				<string>btroot.exe</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileDescription</key>
			<string>Old games that require CGA video emulation and a faster CPU speed.</string>
			<key>BXProfileConf</key>
			<string>AT speed, CGA</string>
			<key>BXProfileGameEra</key>
			<integer>1</integer><!--BX525DisketteEra-->
			<key>BXProfileMatches</key>
			<array>
				<string>Rogue</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>rogue.exe</string>
				<string>10rogue.exe</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileDescription</key>
			<string>386/486-era games that are sensitive to high CPU speeds.</string>
			<key>BXProfileConf</key>
			<string>386 speed</string>
			<key>BXProfileMatches</key>
			<array>
				<string>One Must Fall</string>
				<string>Theme Park</string>
				<string>Halloween Harry</string>
				<string>F-15 Strike Eagle II</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>omf.exe</string>
				<string>park.bat</string>
				<string>harry.sb0</string>
				<string>f15.com</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileDescription</key>
			<string>486 and Pentium-era games that like high-but-not-too-high CPU speeds.</string>
			<key>BXProfileConf</key>
			<string>486 speed</string>
			<key>BXProfileMatches</key>
			<array>
				<string>X-COM: UFO Defense</string>
				<string>X-COM: Terror From the Deep</string>
				<string>Warcraft II</string>
				<string>Space Quest VI</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>ufo2exe</string>
				<string>war2.exe</string>
				<string>vesa.drv</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileDescription</key>
			<string>Games that like a lot of memory and are incompatible with the Gravis Ultrasound.</string>
			<key>BXProfileConf</key>
			<string>More memory, no GUS</string>
			<key>BXProfileMatches</key>
			<array>
				<string>Quake</string>
				<string>Fallout</string>
				<string>Terminator: Future Shock</string>
				<string>Terminator: Skynet</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>quake.exe</string>
				<string>fallout.*</string>
				<string>shock.exe</string>
				<string>skynet.exe</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileDescription</key>
			<string>Games that autodetect the Gravis Ultrasound, but are incompatible with the current emulation of it.</string>
			<key>BXProfileConf</key>
			<string>No GUS</string>
			<key>BXProfileMatches</key>
			<array>
				<string>CyberJudas</string>
				<string>CyberLaw</string>
				<string>Metaltech: Earthsiege</string>
				<string>Games using the HMI sound library</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>cj08.fnt</string>
				<string>t15_95.dat</string>
				<string>hmidrv.386</string>
				<string>es.m50</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileDescription</key>
			<string>Games that need max speed but have problems with the dynamic core.</string>
			<key>BXProfileConf</key>
			<string>No dynamic</string>
			<key>BXProfileMatches</key>
			<array>
				<string>Alone in the Dark</string>
				<string>Alone in the Dark 2</string>
				<string>Alone in the Dark 3</string>
				<string>Sherlock Holmes: The Case of the Rose Tattoo</string>
				<string>Royal Flush Pinball</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>objets.itd</string>
				<string>holmes2.bat</string>
				<string>rf_sfx</string>
			</array>
		</dict>
		
		<dict>
			<key>BXProfileDescription</key>
			<string>Real-mode games that benefit from dynamic core and max CPU speed.</string>
			<key>BXProfileConf</key>
			<string>Dynamic</string>
			<key>BXProfileMatches</key>
			<array>
				<string>Flashback</string>
				<string>Frontier</string>
				<string>Blackthorne</string>
				<string>Star Wars X-Wing</string>
				<string>Star Wars Tie Fighter</string>
				<string>The Elder Scrolls: Arena</string>
				<string>Epic Pinball</string>
				<string>Colonization</string>
				<string>Blake Stone</string>
				<string>Blake Stone 2</string>
				<string>Falcon 3.0</string>
				<string>Links</string>
				<string>Warlords 2</string>
				<string>Master of Magic</string>
				<string>Simcity 2000</string>
				<string>Master of Orion 1</string>
				<string>Flight Simulator 5</string>
				<string>Gunship 2000</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>fb.exe</string>
				<string>frontier.exe</string>
				<string>black.exe</string>
				<string>vga.pac</string>
				<string>tie.001</string>
				<string>tamriel.mnu</string>
				<string>ep1.dat</string>
				<string>viceroy.exe</string>
				<string>jm_error.h</string>
				<string>falcon3.def</string>
				<string>torrey_p.crs</string>
				<string>warlord2.exe</string>
				<string>magic.exe</string>
				<string>sc2000.dat</string>
				<string>orion.exe</string>
				<string>fs5.exe</string>
				<string>gs2000.com</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
