<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BXGameProfileCatalogueVersion</key>
	<string>20120713.1</string>
	<key>BXSpecificGameProfiles</key>
	<array>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.microprose.dragonsphere</string>
			<key>BXProfileGameName</key>
			<string>Dragonsphere</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Dragonsphere</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>dragon.res</string>
			</array>
			<key>BXShouldImportSettings</key>
			<false/>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.ea.fifa-94</string>
			<key>BXProfileGameName</key>
			<string>FIFA International Soccer</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Pentium</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>fifa.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.ssi.steel-panthers-2</string>
			<key>BXProfileGameName</key>
			<string>Steel Panthers II</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>steel2.exe</string>
			</array>
			<key>BXIgnoredInstallers</key>
			<array>
				<string>vinstall.bat</string>
			</array>
			<key>BXRequiresCDROM</key>
			<true/>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>uk.co.revolution.broken-sword</string>
			<key>BXProfileGameName</key>
			<string>Broken Sword</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Broken Sword</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>sword.vol</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.activision.mechwarrior</string>
			<key>BXProfileGameName</key>
			<string>Mechwarrior</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Simple MPU-401</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>mw_ega.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.shiny-entertainment.mdk</string>
			<key>BXProfileGameName</key>
			<string>MDK</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>MDK</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>mdk.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.firebird.elite-plus</string>
			<key>BXProfileGameName</key>
			<string>Elite Plus</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Timed joystick</string>
				<string>MT-32</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>elite.grf</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.spectrum-holobyte.falcon-3</string>
			<key>BXProfileGameName</key>
			<string>Falcon 3.0</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Dynamic</string>
				<string>MT-32</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>falcon3.def</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.lucasarts.monkey-island</string>
			<key>BXProfileGameName</key>
			<string>The Secret of Monkey Island</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>MT-32</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>monkey.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.delphine.flashback</string>
			<key>BXProfileGameName</key>
			<string>Flashback</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Dynamic</string>
				<string>MT-32</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>fb.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.delphine.cruise-for-a-corpse</string>
			<key>BXProfileGameName</key>
			<string>Cruise for a Corpse</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Dynamic</string>
				<string>MT-32</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>delphine.lng</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.ea.birds-of-prey</string>
			<key>BXProfileGameName</key>
			<string>Birds of Prey</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>386 speed</string>
				<string>Timed joystick</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>bopinc.com</string>
				<string>b0m.grf</string>
			</array>
			<key>BXProfileDriveLabels</key>
			<dict>
				<key>BXProfileDriveLabelAny</key>
				<string>BOP_INST__1</string>
			</dict>
			<key>BXSourceDriveType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.delphine.another-world</string>
			<key>BXProfileGameName</key>
			<string>Another World</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Another World</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>tabvol.bin</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.factor5.turrican-2</string>
			<key>BXProfileGameName</key>
			<string>Turrican II</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Turrican 2</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>turrican.*</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.origin.privateer</string>
			<key>BXProfileGameName</key>
			<string>Wing Commander Privateer</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Simple joystick</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>priv.exe</string>
				<string>privater.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.origin.privateer-2</string>
			<key>BXProfileGameName</key>
			<string>Privateer 2</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Privateer 2</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>pad.iff</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.westwood.the-lion-king</string>
			<key>BXProfileGameName</key>
			<string>The Lion King</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Simple joystick</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>lionking.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.ea.lhx</string>
			<key>BXProfileGameName</key>
			<string>LHX Attack Chopper</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Simple joystick</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>lhx.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.rowansoftware.dawn-patrol</string>
			<key>BXProfileGameName</key>
			<string>Dawn Patrol</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Dawn Patrol</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>patrol.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.simbiosis.fable</string>
			<key>BXProfileGameName</key>
			<string>Fable</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>No GUS</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>fable.*</string>
			</array>
			<key>BXMountHelperDrivesDuringImport</key>
			<false/>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.velocity.jetfighter</string>
			<key>BXProfileGameName</key>
			<string>Jetfighter</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Jetfighter</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>jf.exe</string>
				<string>jetfight.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.gtinteractive.bedlam</string>
			<key>BXProfileGameName</key>
			<string>Bedlam</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>bedlam.exe</string>
			</array>
			<key>BXDesignatedInstallers</key>
			<array>
				<string>setup.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.westwood.red-alert</string>
			<key>BXProfileGameName</key>
			<string>Command &amp; Conquer - Red Alert</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>More memory</string>
				<string>No GUS</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>redalert.mix</string>
			</array>
			<key>BXDesignatedInstallers</key>
			<array>
				<string>setup.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.empireinteractive.pro-pinball-the-web</string>
			<key>BXProfileGameName</key>
			<string>Pro Pinball- The Web</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Pro Pinball- The Web</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>web.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.empireinteractive.pro-pinball-timeshock</string>
			<key>BXProfileGameName</key>
			<string>Pro Pinball- Timeshock</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Pro Pinball- Timeshock</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>shock8.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.origin.system-shock</string>
			<key>BXProfileGameName</key>
			<string>System Shock</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>sshock.exe</string>
				<string>cdshock.exe</string>
			</array>
			<key>BXDesignatedInstallers</key>
			<array>
				<string>initial.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.origin.ultima-underworld</string>
			<key>BXProfileGameName</key>
			<string>Ultima Underworld</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Dynamic</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>uw.exe</string>
				<string>uwdemo.exe</string>
				<string>underom1</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.origin.ultima-underworld-2</string>
			<key>BXProfileGameName</key>
			<string>Ultima Underworld II</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Dynamic</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>uw2.exe</string>
				<string>underom2</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.psygnosis.destruction-derby-2</string>
			<key>BXProfileGameName</key>
			<string>Destruction Derby 2</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Destruction Derby 2</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>dd2.fil</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.acclaim.i-have-no-mouth-and-i-must-scream</string>
			<key>BXProfileGameName</key>
			<string>I Have No Mouth and I Must Scream</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>I Have No Mouth</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>scream.prf</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.bethesda.daggerfall</string>
			<key>BXProfileGameName</key>
			<string>Daggerfall</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>More memory</string>
				<string>No GUS</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>dagger.exe</string>
			</array>
			<key>BXDesignatedInstallers</key>
			<array>
				<string>install.exe</string>
			</array>
			<key>BXProfileDriveLabels</key>
			<dict>
				<key>BXProfileDriveLabelAny</key>
				<string>Daggerfall</string>
			</dict>
			<key>BXSourceDriveType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.sierra.kings-quest-7</string>
			<key>BXProfileGameName</key>
			<string>King&apos;s Quest VII</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Sound Blaster Pro</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>kq7.bat</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.mindscape.angel-devoid</string>
			<key>BXProfileGameName</key>
			<string>Angel Devoid</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Sound Blaster Pro</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>angel.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.virgin.screamer-2</string>
			<key>BXProfileGameName</key>
			<string>Screamer 2</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Pentium</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>cars101.dat</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.virgin.screamer</string>
			<key>BXProfileGameName</key>
			<string>Screamer</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Pentium</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>map1h.dat</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.ea.the-need-for-speed</string>
			<key>BXProfileGameName</key>
			<string>The Need for Speed</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Need for Speed</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>nfs.exe</string>
				<string>nfs_dos.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.trilobyte.7th-guest</string>
			<key>BXProfileGameName</key>
			<string>The 7th Guest</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>The 7th Guest</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>t7g.bat</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.origin.ultima-6</string>
			<key>BXProfileGameName</key>
			<string>Ultima VI</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>MT-32</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>ultima6.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.origin.ultima-7</string>
			<key>BXProfileGameName</key>
			<string>Ultima VII</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Ultima VII</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>ultima7.com</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.origin.serpent-isle</string>
			<key>BXProfileGameName</key>
			<string>Ultima VII Part 2: The Serpent Isle</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Ultima VII</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>serpent.com</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.origin.wing-commander</string>
			<key>BXProfileGameName</key>
			<string>Wing Commander</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Wing Commander</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>wingcmdr.cfg</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.origin.wing-commander-2</string>
			<key>BXProfileGameName</key>
			<string>Wing Commander II</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Wing Commander</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>wc2.*</string>
				<string>communic.yu2</string>
			</array>
			<key>BXDesignatedInstallers</key>
			<array>
				<string>winstall.bat</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.origin.wing-commander-academy</string>
			<key>BXProfileGameName</key>
			<string>Wing Commander Academy</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Wing Commander</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>wca.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.origin.wing-commander-armada</string>
			<key>BXProfileGameName</key>
			<string>Wing Commander Armada</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Timed joystick</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>armada1.adv</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.origin.wing-commander-3</string>
			<key>BXProfileGameName</key>
			<string>Wing Commander III</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Timed joystick</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>wc3.*</string>
			</array>
			<key>BXDesignatedInstallers</key>
			<array>
				<string>wc3.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.origin.wing-commander-4</string>
			<key>BXProfileGameName</key>
			<string>Wing Commander IV</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Timed joystick</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>wc4.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.origin.wings-of-glory</string>
			<key>BXProfileGameName</key>
			<string>Wings of Glory</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Wings of Glory</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>wogdata3.tre</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.dynamix.aces-of-the-pacific</string>
			<key>BXProfileGameName</key>
			<string>Aces of the Pacific</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>No dynamic</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>aces.com</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.dynamix.aces-over-europe</string>
			<key>BXProfileGameName</key>
			<string>Aces Over Europe</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Aces Over Europe</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>aoe.com</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.perfect10.discworld</string>
			<key>BXProfileGameName</key>
			<string>Discworld</string>
			<key>BXProfileTelltales</key>
			<array>
				<string>dwu.exe</string>
			</array>
			<key>BXDesignatedInstallers</key>
			<array>
				<string>disc.bat</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.lucasarts.tie-fighter</string>
			<key>BXProfileGameName</key>
			<string>Tie Fighter</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Tie Fighter</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>tie.exe</string>
				<string>tie.cd</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.dynamix.earthsiege</string>
			<key>BXProfileGameName</key>
			<string>Earthsiege</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Earthsiege</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>es.m50</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.accolade.grand-prix-unlimited</string>
			<key>BXProfileGameName</key>
			<string>Grand Prix Unlimited</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>MT-32</string>
				<string>386 speed</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>gpu.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.accolade.test-drive-3</string>
			<key>BXProfileGameName</key>
			<string>Test Drive III</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>MT-32</string>
				<string>386 speed</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>td3.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.accolade.speed-racer</string>
			<key>BXProfileGameName</key>
			<string>Speed Racer</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>MT-32</string>
				<string>486 speed</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>acco1.tjl</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.mindcraft.siege</string>
			<key>BXProfileGameName</key>
			<string>Siege</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Old Sound Blaster Pro</string>
				<string>MT-32</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>siege.als</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>se.dice.pinball-dreams</string>
			<key>BXProfileGameName</key>
			<string>Pinball Dreams</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Dynamic</string>
				<string>MT-32</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>tbldetlo.ign</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.sensiblesoftware.cannon-fodder</string>
			<key>BXProfileGameName</key>
			<string>Cannon Fodder</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Dynamic</string>
				<string>MT-32</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>can.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.sir-tech.wizardry-7</string>
			<key>BXProfileGameName</key>
			<string>Wizardry VII</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>386 speed</string>
				<string>MT-32</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>scenario.hdr</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.ea.ultrabots</string>
			<key>BXProfileGameName</key>
			<string>Ultrabots</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Dynamic</string>
				<string>MT-32</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>xenobot.1</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.gametek.frontier</string>
			<key>BXProfileGameName</key>
			<string>Frontier</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Dynamic</string>
				<string>MT-32</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>frontier.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.sierra.gabriel-knight</string>
			<key>BXProfileGameName</key>
			<string>Gabriel Knight- Sins of the Fathers</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Gabriel Knight</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>gksg.cat</string>
			</array>
		</dict>
	</array>
	<key>BXGenericProfiles</key>
	<array>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>net.washboardabs.no-temp-drive-games</string>
			<key>BXProfileDescription</key>
			<string>Games which are incompatible with the temp drive.</string>
			<key>BXProfileMatches</key>
			<array>
				<string>3 Sisters’ Story</string>
				<string>Season of Sakura</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>pmdibm.com</string>
			</array>
			<key>BXMountTempDrive</key>
			<false/>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>net.washboardabs.cdrom-protected-games</string>
			<key>BXProfileDescription</key>
			<string>Games which require any CD to be present.</string>
			<key>BXProfileMatches</key>
			<array>
				<string>Ignition</string>
				<string>The Pandora Directive</string>
				<string>Alien Incident</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>ign_dos.bat</string>
				<string>ign_dos.btz</string>
				<string>tex4.exe</string>
				<string>aliphone.000</string>
			</array>
			<key>BXRequiresCDROM</key>
			<true/>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>net.washboardabs.mt32-games</string>
			<key>BXProfileDescription</key>
			<string>Games which support the MT-32 but not General MIDI.</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>MT-32</string>
			</array>
			<key>BXProfileMatches</key>
			<array>
				<string>Street Fighter II</string>
				<string>Powermonger</string>
				<string>Stronghold</string>
				<string>Starlord</string>
				<string>Moonstone: A Hard Day’s Knight</string>
				<string>Rules of Engagement</string>
				<string>Spirit of Excalibur</string>
				<string>Vengeance of Excalibur</string>
				<string>Conan the Cimmerian</string>
				<string>Crisis in the Kremlin</string>
				<string>Breach 2</string>
				<string>Back to the Future Part III</string>
				<string>AV-8B Harrier Assault</string>
				<string>Teenage Mutant Ninja Turtles II: The Arcade Game</string>
				<string>Twilight 2000</string>
				<string>Megatraveller II</string>
				<string>Magic Candle II</string>
				<string>Lord of the Rings vol. I</string>
				<string>Lord of the Rings vol. II- The Two Towers</string>
				<string>Miami Vice</string>
				<string>Eye of the Beholder III</string>
				<string>Dungeon Hack</string>
				<string>Spelljammer: Pirates of Realmspace</string>
				<string>Veil of Darkness</string>
				<string>Champions of Krynn</string>
				<string>Dark Queen of Krynn</string>
				<string>Shadow Sorcerer</string>
				<string>Forgotten Realms: Unlimited Adventures</string>
				<string>Buck Rogers: Matrix Cubed</string>
				<string>Realms of Arkania: Blade of Destiny</string>
				<string>Cisco Heat</string>
				<string>Bumpy’s Arcade Fantasy</string>
				<string>Prehistorik</string>
				<string>Cadaver: The Payoff</string>
				<string>Command H.Q.</string>
				<string>Dominium</string>
				<string>Double Dragon III</string>
				<string>Great Naval Battles: North Atlantic 1939-43</string>
				<string>Italy ’90</string>
				<string>The Exterminator</string>
				<string>Hired Guns</string>
				<string>Obitus</string>
				<string>Ninja Gaiden II</string>
				<string>Predator II</string>
				<string>PGA Tour Golf</string>
				<string>The Summoning</string>
				<string>Supaplex</string>
				<string>Zool</string>
				<string>Wrath of the Demon</string>
				<string>Shuttle</string>
				<string>TV Sports Boxing/ABC Wild World of Sports Boxing</string>
				<string>Bloodwych</string>
				<string>Risky Woods</string>
				<string>Pushover</string>
				<string>Elf</string>
				<string>Hook</string>
				<string>Nightbreed</string>
				<string>Robocop 3</string>
				<string>Epic</string>
				<string>Curse of Enchantia</string>
				<string>Planet’s Edge</string>
				<string>Lotus 3</string>
				<string>Alien Breed</string>
				<string>Laser Squad</string>
				<string>Sabre Team</string>
				<string>It Came From the Desert</string>
				<string>Centurion: Defender of Rome</string>
				<string>Amazon: Guardians of Eden</string>
				<string>Martian Memorandum</string>
				<string>Rampart</string>
				<string>The Settlers</string>
				<string>Battle Chess II: Chinese Chess</string>
				<string>A-Train</string>
				<string>SimLife</string>
				<string>SimAnt</string>
				<string>Castles</string>
				<string>Bad Blood</string>
				<string>Chaos Engine</string>
				<string>Simon the Sorcerer</string>
				<string>Might &amp; Magic III</string>
				<string>Dune</string>
				<string>Gunboat</string>
				<string>Elvira II</string>
				<string>Les Manley in: Lost in LA</string>
				<string>Mike Ditka Ultimate Football</string>
				<string>The Games: Summer Challenge</string>
				<string>The Games: Winter Challenge</string>
				<string>Hardball III</string>
				<string>Jack Nicklaus Unlimited Golf and Course Design</string>
				<string>Jack Nicklaus Signature Edition</string>
				<string>Snoopy’s Game Club</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>sprite1.sf2</string>
				<string>mt32.fx</string>
				<string>strong.exe</string>
				<string>starlord.dat</string>
				<string>ratgoug</string>
				<string>roemain.exe</string>
				<string>rol.dvr</string>
				<string>crisis1.big</string>
				<string>breach2.exe</string>
				<string>roland.bin</string>
				<string>twi2d.dat</string>
				<string>pistol.voc</string>
				<string>mc201t.mid</string>
				<string>arts.ndx</string>
				<string>stilts.ega</string>
				<string>aesop.exe</string>
				<string>veil.com</string>
				<string>sjintro0.msh</string>
				<string>dungcom.dax</string>
				<string>dqk.exe</string>
				<string>vmonz.dat</string>
				<string>ckit.exe</string>
				<string>venuscom.dax</string>
				<string>bladem.exe</string>
				<string>cisco.exe</string>
				<string>bumpy.exe</string>
				<string>historic.exe</string>
				<string>historik.exe</string>
				<string>cadaver.exe</string>
				<string>c_hq.rep</string>
				<string>dominium.bat</string>
				<string>dd3files.001</string>
				<string>gnbna386.exe</string>
				<string>italy90.com</string>
				<string>exterm.exe</string>
				<string>hggame.exe</string>
				<string>obitus.exe</string>
				<string>njconfig.exe</string>
				<string>predgraf.vgc</string>
				<string>pgawest.ega</string>
				<string>summon.com</string>
				<string>supaplex.*</string>
				<string>zool.exe</string>
				<string>wrath.exe</string>
				<string>shuttle.exe</string>
				<string>vbox.exe</string>
				<string>bwych.exe</string>
				<string>risky.exe</string>
				<string>push.exe</string>
				<string>elf.exe</string>
				<string>hook.exe</string>
				<string>night.exe</string>
				<string>robo.dat</string>
				<string>epic.dat</string>
				<string>curse.rs1</string>
				<string>spacet.bch</string>
				<string>lotus.exe</string>
				<string>cargobay.vhf</string>
				<string>laserfx.*</string>
				<string>sabre.exe</string>
				<string>biplane.spl</string>
				<string>centurio.exe</string>
				<string>amazon.exe</string>
				<string>tex2.gam</string>
				<string>rampart.exe</string>
				<string>sett.exe</string>
				<string>chess2.exe</string>
				<string>chessii.exe</string>
				<string>at.ovl</string>
				<string>sml.exe</string>
				<string>simant.exe</string>
				<string>castles1.exe</string>
				<string>atrain.bat</string>
				<string>badblood.exe</string>
				<string>chaos.dat</string>
				<string>simon.bat</string>
				<string>mm3.exe</string>
				<string>dune.exe</string>
				<string>dune.bat</string>
				<string>gbroster.dat</string>
				<string>music.drv</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>net.washboardabs.no-joystick-games</string>
			<key>BXProfileDescription</key>
			<string>Games that are incompatible with joystick emulation altogether.</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>No joystick</string>
			</array>
			<key>BXProfileMatches</key>
			<array>
				<string>Mortal Kombat Trilogy</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>mkbgrnd.bmp</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>net.washboardabs.timed-joystick-games</string>
			<key>BXProfileDescription</key>
			<string>Games that require clock-based joystick timing.</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Timed joystick</string>
			</array>
			<key>BXProfileMatches</key>
			<array>
				<string>Flight Unlimited</string>
				<string>Elite</string>
				<string>Mechwarrior 2</string>
				<string>Descent</string>
				<string>Descent 2</string>
				<string>Gods</string>
				<string>Xenon 2- Megablast</string>
				<string>Space Rogue</string>
				<string>Gauntlet II</string>
				<string>Skate or Die</string>
				<string>F-29 Retaliator</string>
				<string>US Navy Fighters/Advanced Tactical Fighters</string>
				<string>Mortal Kombat</string>
				<string>Team Suzuki</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>genpile</string>
				<string>elite.exe</string>
				<string>mw2.exe</string>
				<string>descent.hog</string>
				<string>descent1.sow</string>
				<string>descent2.exe</string>
				<string>pgods.mus</string>
				<string>xenon2.exe</string>
				<string>vspace.ctl</string>
				<string>gauntlet.exe</string>
				<string>skate.exe</string>
				<string>retal.00</string>
				<string>timeint.xxx</string>
				<string>mktitle1.gra</string>
				<string>suzuki.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>net.washboardabs.floppy-installer-games</string>
			<key>BXProfileDescription</key>
			<string>Games that rely on being installed from floppy disk.</string>
			<key>BXProfileMatches</key>
			<array>
				<string>Stunts</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>adskidms.vce</string>
			</array>
			<key>BXSourceDriveType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.microprose.early-flight-simulators</string>
			<key>BXProfileDescription</key>
			<string>Early Microprose flight simulators</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Early Microprose flightsims</string>
			</array>
			<key>BXProfileMatches</key>
			<array>
				<string>F-19 Stealth Fighter</string>
				<string>Knights of the Sky</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>f19.com</string>
				<string>spad13.rb</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.microprose.flight-simulators</string>
			<key>BXProfileDescription</key>
			<string>Mid-era Microprose flight simulators</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Microprose flightsims</string>
			</array>
			<key>BXProfileMatches</key>
			<array>
				<string>F-117a Stealth Fighter 2.0</string>
				<string>F-15 Strike Eagle II/III</string>
				<string>F-14 Fleet Defender</string>
				<string>Gunship 2000</string>
				<string>B-17 Flying Fortress</string>
				<string>Harrier Jump Jet</string>
				<string>A.T.A.C</string>
				<string>Dogfight: 80 Years of Aerial Warfare</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>f117.com</string>
				<string>f15.com</string>
				<string>f14.com</string>
				<string>gs2000.com</string>
				<string>b17.exe</string>
				<string>harr.com</string>
				<string>atac1.dat</string>
				<string>dog.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>net.washboardabs.vga-only-games</string>
			<key>BXProfileDescription</key>
			<string>Early VGA games that are incompatible with SuperVGA.</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>VGA-only</string>
			</array>
			<key>BXProfileMatches</key>
			<array>
				<string>Lemmings</string>
				<string>Oh No! More Lemmings</string>
				<string>X-Mas Lemmings</string>
				<string>Holiday Lemmings</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>vgalemmi.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>com.sierra.agi-games</string>
			<key>BXProfileDescription</key>
			<string>Sierra AGI games that support Tandy graphics and sound.</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Sierra AGI</string>
			</array>
			<key>BXProfileGameEra</key>
			<integer>1</integer>
			<key>BXProfileMatches</key>
			<array>
				<string>King&apos;s Quest</string>
				<string>King&apos;s Quest II</string>
				<string>King&apos;s Quest III</string>
				<string>Space Quest</string>
				<string>Space Quest II</string>
				<string>Police Quest</string>
				<string>Gold Rush</string>
				<string>Manhunter: New York</string>
				<string>Manhunter: San Francisco</string>
				<string>Leisure Suit Larry</string>
				<string>The Black Cauldron</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>jr_graf.ovl</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>net.washboardabs.low-memory-games</string>
			<key>BXProfileDescription</key>
			<string>Old games that need low conventional memory.</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Low memory</string>
			</array>
			<key>BXProfileMatches</key>
			<array>
				<string>Blood Money</string>
				<string>California Games</string>
				<string>Might and Magic 2</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>blood.prg</string>
				<string>calgames.exe</string>
				<string>mm2.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>net.washboardabs.max-memory-games</string>
			<key>BXProfileDescription</key>
			<string>Later games that like a whole lot of memory.</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Max memory</string>
			</array>
			<key>BXProfileMatches</key>
			<array>
				<string>The Elder Scrolls: Battlespire</string>
				<string>Blood</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>spire.bat</string>
				<string>blood.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>net.washboardabs.no-ems-games</string>
			<key>BXProfileDescription</key>
			<string>Games that dislike expanded memory (but are not fussy about anything else.)</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>No EMS</string>
			</array>
			<key>BXProfileMatches</key>
			<array>
				<string>Wrath of Earth</string>
				<string>Barney Bear Goes to Space</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>woe.exe</string>
				<string>bbspc.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>net.washboardabs.at-games</string>
			<key>BXProfileDescription</key>
			<string>Old games that need a 286-speed CPU for correct timing.</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>AT speed</string>
			</array>
			<key>BXProfileMatches</key>
			<array>
				<string>Ultima IV</string>
				<string>Ultima V</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>ultima.com</string>
				<string>ultima.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>net.washboardabs.xt-cga-games</string>
			<key>BXProfileDescription</key>
			<string>Old games that require CGA video emulation as well as an XT-speed CPU.</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>XT speed</string>
				<string>CGA</string>
			</array>
			<key>BXProfileGameEra</key>
			<integer>1</integer>
			<key>BXProfileMatches</key>
			<array>
				<string>Attack on Altair</string>
				<string>Castle Adventure</string>
				<string>Below the Root</string>
				<string>Striker</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>altair.com</string>
				<string>castle.ran</string>
				<string>btroot.exe</string>
				<string>strklogo.dat</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>net.washboardabs.at-cga-games</string>
			<key>BXProfileDescription</key>
			<string>Old games that require CGA video emulation and a faster CPU speed.</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>AT speed</string>
				<string>CGA</string>
			</array>
			<key>BXProfileGameEra</key>
			<integer>1</integer>
			<key>BXProfileMatches</key>
			<array>
				<string>Rogue</string>
				<string>Déjà Vu: A Nightmare Comes True</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>rogue.exe</string>
				<string>10rogue.exe</string>
				<string>dejavu.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>net.washboardabs.386-games</string>
			<key>BXProfileDescription</key>
			<string>386/486-era games that are sensitive to high CPU speeds.</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>386 speed</string>
			</array>
			<key>BXProfileMatches</key>
			<array>
				<string>The Incredible Machine</string>
				<string>The Even More Incredible Machine</string>
				<string>One Must Fall</string>
				<string>Theme Park</string>
				<string>Halloween Harry</string>
				<string>F-14 Tomcat</string>
				<string>Commander Keen 4-6</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>tim.exe</string>
				<string>omf.exe</string>
				<string>park.bat</string>
				<string>harry.sb0</string>
				<string>tomcat.dat</string>
				<string>gamemaps.ck4</string>
				<string>gamemaps.ck5</string>
				<string>gamemaps.ck6</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>net.washboardabs.486-games</string>
			<key>BXProfileDescription</key>
			<string>486 and Pentium-era games that like dynamic core and high-but-not-too-high CPU speeds.</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>486 speed</string>
			</array>
			<key>BXProfileMatches</key>
			<array>
				<string>X-COM: UFO Defense</string>
				<string>X-COM: Terror From the Deep</string>
				<string>Warcraft II</string>
				<string>Space Quest VI</string>
				<string>Lemmings 3D</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>ufo2exe</string>
				<string>war2.exe</string>
				<string>vesa.drv</string>
				<string>l3d.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>net.washboardabs.extra-memory-no-gus-games</string>
			<key>BXProfileDescription</key>
			<string>Games that like a lot of memory and are incompatible with the Gravis Ultrasound.</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>More memory</string>
				<string>No GUS</string>
			</array>
			<key>BXProfileMatches</key>
			<array>
				<string>Quake</string>
				<string>Fallout</string>
				<string>Terminator: Future Shock</string>
				<string>Terminator: Skynet</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>quake.exe</string>
				<string>fallout.*</string>
				<string>shock.exe</string>
				<string>skynet.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>net.washboardabs.no-gus-games</string>
			<key>BXProfileDescription</key>
			<string>Games that autodetect the Gravis Ultrasound, but are incompatible with the current emulation of it.</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>No GUS</string>
			</array>
			<key>BXProfileMatches</key>
			<array>
				<string>CyberJudas</string>
				<string>CyberLaw</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>cj08.fnt</string>
				<string>t15_95.dat</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>net.washboardabs.no-dynamic-core-games</string>
			<key>BXProfileDescription</key>
			<string>Games that need max speed but have problems with the dynamic core.</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>No dynamic</string>
			</array>
			<key>BXProfileMatches</key>
			<array>
				<string>Alone in the Dark</string>
				<string>Alone in the Dark 2</string>
				<string>Alone in the Dark 3</string>
				<string>Sherlock Holmes: The Case of the Rose Tattoo</string>
				<string>Royal Flush Pinball</string>
				<string>Jetfighter 2</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>objets.itd</string>
				<string>holmes2.bat</string>
				<string>rf_sfx</string>
				<string>jf2.exe</string>
			</array>
		</dict>
		<dict>
			<key>BXProfileIdentifier</key>
			<string>net.washboardabs.dynamic-core-games</string>
			<key>BXProfileDescription</key>
			<string>Real-mode games that benefit from dynamic core and max CPU speed.</string>
			<key>BXProfileConfigurations</key>
			<array>
				<string>Dynamic</string>
			</array>
			<key>BXProfileMatches</key>
			<array>
				<string>Car &amp; Driver</string>
				<string>Blackthorne</string>
				<string>Star Wars X-Wing</string>
				<string>The Elder Scrolls: Arena</string>
				<string>Terminator 2029</string>
				<string>Terminator 2029: Operation Scour</string>
				<string>Terminator: Rampage</string>
				<string>Epic Pinball</string>
				<string>Pinball Dreams Deluxe, Pinball Dreams 2, Pinball Fantasies</string>
				<string>Colonization</string>
				<string>Blake Stone 1 &amp; 2</string>
				<string>Links</string>
				<string>Warlords 2</string>
				<string>Master of Magic</string>
				<string>Simcity 2000</string>
				<string>Master of Orion 1</string>
				<string>Flight Simulator 5</string>
				<string>Grand Prix</string>
				<string>Tornado</string>
				<string>Stunt Island</string>
				<string>Wolfenstein 3D</string>
				<string>Geekwad: Games of the Galaxy</string>
				<string>Return of the Phantom</string>
			</array>
			<key>BXProfileTelltales</key>
			<array>
				<string>c&amp;d.exe</string>
				<string>black.exe</string>
				<string>bthorne.exe</string>
				<string>vga.pac</string>
				<string>tamriel.mnu</string>
				<string>termspec.dff</string>
				<string>pcdeath.flc</string>
				<string>ep1.dat</string>
				<string>thing.sdr</string>
				<string>viceroy.exe</string>
				<string>jm_error.h</string>
				<string>torrey_p.crs</string>
				<string>warlord2.exe</string>
				<string>magic.exe</string>
				<string>sc2000.dat</string>
				<string>orion.exe</string>
				<string>fs5.exe</string>
				<string>f1gpdata.dat</string>
				<string>tornado.bat</string>
				<string>alcatraz.set</string>
				<string>wolf3d.exe</string>
				<string>geekwad.exe</string>
				<string>phantom.res</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
