<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>savedRecordingsPath</key>
	<string>~/Desktop</string>
	<key>startUpInFullScreen</key>
	<false/>
	<key>statusBarShown</key>
	<true/>
	<key>windowSnapDistance</key>
	<integer>64</integer>
	<key>filterType</key>
	<integer>0</integer>
	<key>aspectCorrected</key>
	<true/>
	<key>initialInspectorPanelIndex</key>
	<integer>1</integer>
	<key>toolkitDriveLetter</key>
	<string>Y</string>
	<key>temporaryDriveLetter</key>
	<string>X</string>
</dict>
</plist>
