<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BXBundledGameboxName</key>
	<string>{{GAMEBOX_NAME}}</string>
	<key>BXOrganizationName</key>
	<string>{{ORGANIZATION_NAME}}</string>
	<key>BXOrganizationWebsiteURL</key>
	<string>{{ORGANIZATION_URL}}</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>package.icns</string>
			<key>CFBundleTypeName</key>
			<string>Gamebox</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.washboardabs.boxer-game-package</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>BXSession</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>package.icns</string>
			<key>CFBundleTypeName</key>
			<string>Game state</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.washboardabs.boxer-game-state</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Help.help</string>
	<key>CFBundleHelpBookName</key>
	<string>{{BUNDLE_IDENTIFIER}}.help</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>{{APPLICATION_NAME}}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0alpha</string>
	<key>CFBundleSignature</key>
	<string>Boxr</string>
	<key>CFBundleVersion</key>
	<string>20151206.1</string>
	<key>JoypadURL</key>
	<string>http://getjoypad.com/</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>© {{YEAR}} {{ORGANIZATION_NAME}}, all rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>BXApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.folder</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Boxer mountable folder</string>
			<key>UTTypeIdentifier</key>
			<string>net.washboardabs.boxer-mountable-folder</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.folder</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Boxer disk bundle</string>
			<key>UTTypeIdentifier</key>
			<string>net.washboardabs.boxer-disk-bundle</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MS-DOS gamebox</string>
			<key>UTTypeIconFile</key>
			<string>package.icns</string>
			<key>UTTypeIdentifier</key>
			<string>net.washboardabs.boxer-game-package</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dosbox</string>
					<string>boxer</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.washboardabs.boxer-mountable-folder</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MS-DOS CD-ROM</string>
			<key>UTTypeIdentifier</key>
			<string>net.washboardabs.boxer-cdrom-folder</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cdrom</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.washboardabs.boxer-mountable-folder</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MS-DOS floppy disk</string>
			<key>UTTypeIdentifier</key>
			<string>net.washboardabs.boxer-floppy-folder</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>floppy</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.washboardabs.boxer-mountable-folder</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MS-DOS hard disk</string>
			<key>UTTypeIdentifier</key>
			<string>net.washboardabs.boxer-harddisk-folder</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>harddisk</string>
					<string>harddrive</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.washboardabs.boxer-disk-bundle</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CD-ROM bundle</string>
			<key>UTTypeIdentifier</key>
			<string>net.washboardabs.boxer-cdrom-bundle</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cdmedia</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Boxer game state</string>
			<key>UTTypeIconFile</key>
			<string>package.icns</string>
			<key>UTTypeIdentifier</key>
			<string>net.washboardabs.boxer-game-state</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>boxerstate</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.executable</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Microsoft MS-DOS application</string>
			<key>UTTypeIconFile</key>
			<string>executable.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.msdos-executable</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>com</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.script</string>
				<string>public.executable</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Microsoft Windows/MS-DOS batch file</string>
			<key>UTTypeIconFile</key>
			<string>executable.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.batch-file</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bat</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Configuration file</string>
			<key>UTTypeIdentifier</key>
			<string>gnu.org.configuration-file</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>DBGc</string>
				<key>public.filename-extension</key>
				<string>conf</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.disk-image</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Disc image cue-sheet</string>
			<key>UTTypeIdentifier</key>
			<string>com.goldenhawk.cdrwin-cuesheet</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cue</string>
					<string>inst</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-cue</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.disk-image</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GOG.com disc image</string>
			<key>UTTypeIdentifier</key>
			<string>com.gog.gog-disk-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gog</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.disk-image</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>WinImage raw disk image</string>
			<key>UTTypeIdentifier</key>
			<string>com.winimage.raw-disk-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ima</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.disk-image</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VirtualPC floppy disk image</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.virtualpc-disk-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vfd</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
