/* Styles used by the credits and legalese pages. */

.projects-list li
{
	margin-bottom: 0.5em;
}

.license-link
{
	margin-left: 0.5em;
	color: #789;
}

section.license
{
	padding-top: 0;
	border-top: 0;
}
