<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en-US</string>
		<key>CFBundleIdentifier</key>
		<string>net.washboardabs.boxer.help</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>BoxerHelp</string>
		<key>HPDBookTitle</key>
		<string>Boxer Help</string>
		<key>CFBundlePackageType</key>
		<string>BNDL</string>
		<key>CFBundleVersion</key>
		<string>1.0</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleSignature</key>
		<string>hbwr</string>
		<key>HPDBookAccessPath</key>
		<string>pages/index.html</string>
		<key>HPDBookIndexPath</key>
		<string>Boxer.helpindex</string>
		<key>HPDBookIconPath</key>
		<string>shared/images/boxer-16.png</string>
		<key>HPDBookKBProduct</key>
		<string>boxer</string>
		<key>HPDBookRemoteURL</key>
		<string>http://boxerapp.com/guide/</string>
		<key>HPDBookType</key>
		<string>3</string>
	</dict>
</plist>