<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BXDefaultProgramPath</key>
	<string>C.harddisk/UWDEMO/UWDEMO.EXE</string>
	<key>BXGameIdentifier</key>
	<string>2DB89431077F7CDF8383C7A04799EA57E678B337</string>
	<key>BXGameIdentifierType</key>
	<integer>2</integer>
</dict>
</plist>
