<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BXDefaultProgramPath</key>
	<string>C.harddisk/KEEN4/KEEN4E.EXE</string>
	<key>BXGameIdentifier</key>
	<string>A052387A7BAA4C4FC28E1DE927A86A1CBFDE8F80</string>
	<key>BXGameIdentifierType</key>
	<integer>2</integer>
</dict>
</plist>
